<div class="contact">
    <h2>Sobre nosotros</h2>
    <div class="about-us">
        <h4>Nuestras joyas</h4>
        <p>Creemos en la joyería como una forma de expresión, un campo en el que las infinitas combinaciones de materiales y elementos ayudan a perfilar una actitud.
            Nuestras colecciones se dibujan alrededor de una historia de moda inspiradora, cambiante y rabiosa, creando líneas diversas que van desde lo más básico a las piezas más contemporáneas. Unos materiales cuidadosamente seleccionados son el ingrediente principal para que cada pieza sea única y personal. 
            La misión de Jewelry es diseñar pequeños tesoros para la mujer de hoy, elegante y moderna.
        </p>
        <h4>Nuestro equipo</h4>
        <p>Aunque muy joven, nuestro equipo tiene experiencia en empresas relevantes del panorama 
            moda internacional. Jewelry está formado por un grupo de personas talentosas que comparten 
            la pasión por buscar nuevos retos y desafiar convencionalismos. Actualmente trabajamos desde 
            nuestro estudio en Barcelona.
        </p>
    </div>
    <h2>Tiendas</h2>
    <div class="shops">
        <div class="address">
            <div>
                <h5>DIAGONAL MAR</h5>
                <p>Avenida Diagonal 3</p>
                <p>08019 Barcelona</p>
                <p>España</p>
                <p><a target="_blank" href="https://www.google.es/maps/place/Diagonal+Mar/@41.4097056,2.2083338,15.84z/data=!4m5!3m4!1s0x12a4a357358e9543:0xd24295e8243bcbc0!8m2!3d41.409954!4d2.216642?shorturl=1">
                    LOCALIZA TIENDA <i class="place material-icons">place</i>
                </a></p>
            </div>
            <div>
                <h5>HORARIO</h5>
                <p>Lunes - Sábado</p>
                <p>10 am - 10 pm</p>
            </div>
        </div>
        <div class="address">
            <div>
                <h5>LA MAQUINISTA</h5>
                <p>Carrer de Potosí, 2</p>
                <p>08030 Barcelona</p>
                <p>España</p>
                <p><a target="_blank" href="https://www.google.com/maps/place/La+Maquinista/@41.4408309,2.196304,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4bce983ccc79d:0x1bb197f90997cd2c!8m2!3d41.440843!4d2.198482?hl=es-ES">
                    LOCALIZA TIENDA <i class="place material-icons">place</i>
                </a></p>
            </div>
            <div>
                <h5>HORARIO</h5>
                <p>Lunes - Sábado</p>
                <p>10 am - 10 pm</p>
            </div>
        </div>
    </div>
</div>