<div id="up"><a href="#logo"><img src="img/up.svg" ></a></div>
<footer>
    <div class="web-footer">
        <div>
            <h3>Join us!</h3>
            <p>Facebook</p>
            <p>Pinterest</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div>
            <h3>Atención al cliente</h3>
            <p>Contacto</p>
            <p>Pedidos y pagos</p>
            <p>Envios y entregas</p>
            <p>Cambios y devoluciones</p>
        </div>
        <div>
            <h3>¿Necesitas ayuda?</h3>
            <p>Guía de tallas</p>
            <p>Cuidados</p>
            <p>Guía de compra</p>
            <p>Política y privacidad</p>
        </div>
        <div>
            <h3><a href="contacto.html">Descúbrenos</a></h3>
            <p>Sobre nosotros</p>
            <p>Tiendas</p>
            <p>Jewelry 2018</p>
            <p>@ All rights reserved</p>
        </div>
        <div>
            <img src="img/logo-pequeno.png" ></a>
        </div>
    </div>
</footer>