<div class="list">
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto1.jpg"/>
            <img class="detail" src="img/foto1.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>COLLAR LIRA GOLD</h4>
            <p>Circonita blanca</p>
            <p class="old-price">32,00 €</p>
            <p class="price">29,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto2.jpg"/>
            <img class="detail" src="img/foto2.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pendientes Chuck</h4>
            <p> Plata de Ley 925 de alto gramaje</p>
            <p class="old-price">24,00 €</p>
            <p class="price">18,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto3.jpg"/>
            <img class="detail" src="img/foto3.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pendientes Valentina Gold</h4>
            <p>Técnica martelé</p>
            <p class="old-price">36,00 €</p>
            <p class="price">26,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto4.jpg"/>
            <img class="detail" src="img/foto4.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pendientes Wolfnoir</h4>
            <p>Baño en Oro de 18k</p>
            <p class="old-price">35,00 €</p>
            <p class="price">25,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto5.jpg"/>
            <img class="detail" src="img/foto5.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Anillo Vela</h4>
            <p>Circonitas estrelladas</p>
            <p class="old-price">24,00 €</p>
            <p class="price">22,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto6.jpg"/>
            <img class="detail" src="img/foto6.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pendientes blace</h4>
            <p>Labradorita</p>
            <p class="old-price">45,00 €</p>
            <p class="price">35,00€</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto7.jpg"/>
            <img class="detail" src="img/foto7.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pulsera Blaze</h4>
            <p>Labradorita</p>
            <p class="old-price">52,00 €</p>
            <p class="price">42,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
<a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto8.jpg"/>
            <img class="detail" src="img/foto8.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pendientes pacific</h4>
            <p>Howlite blanco y Opal</p>
            <p class="old-price">62,00 €</p>
            <p class="price">42,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto9.jpg"/>
            <img class="detail" src="img/foto9.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Collar Promise</h4>
            <p>Baño en Oro de 18k</p>
            <p class="old-price">36,00 €</p>
            <p class="price">26,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
    <a class="item" href="detail.html">
        <div class="img">
            <img class="general" src="img/foto10.jpg"/>
            <img class="detail" src="img/foto10.1.jpg"/>
        </div>
        <div class="description">
            <i class="favorite material-icons">favorite</i>
            <i class="view material-icons">visibility</i>
            <h4>Pendientes studio</h4>
            <p>Tuerca tradicional</p>
            <p class="old-price">44,00 €</p>
            <p class="price">24,00 €</p>
            <div class="colors">
                <span class="gold" title="Dorado"></span>
                <span class="silver" title="Plata"></span>
            </div>
        </div>
    </a>
</div>