<div class="band">
    <div class="carousel" id="carousel">
         <img src="img/portada1.jpg"/>
         <img src="img/portada2.jpg"/>
         <img src="img/portada3.jpg"/>
         <img src="img/portada4.jpg"/>
    </div>
    <form action="mailto:juliaperis@gmail.com">
        <h2 class="contact">Formulario de contacto</h2>
        <label >Nombre</label>
        <input type="text" name="name"/>
        <label>E-mail</label>
        <input type="text" name="email"/>
        <label>Teléfono</label>
        <input type="text" name="phone"/>
        <input type="Suscribirse"/>
    </form>
</div>