<script>
    window.onload = function() {
        var carousel = document.getElementById('carousel');
        var imgs = carousel.querySelectorAll('img');
        var index = 0;

        setInterval(function() {
            var winWidth = window.innerWidth;

            var prev = imgs[(index == 0 ? imgs.length : index) - 1];
            prev.style.transform = 'translateX('+ winWidth +'px)';
            prev.style.visibility = 'hidden';

            var img = imgs[index];
            img.style.transform = 'translateX(-'+ winWidth +'px)';

            var next = imgs[(index + 1) % imgs.length];
            next.style.transform = 'translateX(0)';
            next.style.visibility = 'visible';

            index = (index + 1) % imgs.length;
        }, 2000);
    };
</script>

<div class="band">
    <div class="carousel" id="carousel">
         <img src="img/portada1.jpg"/>
         <img src="img/portada2.jpg"/>
         <img src="img/portada3.jpg"/>
         <img src="img/portada4.jpg"/>
    </div>
    <form action="mailto:juliaperis@gmail.com">
        <h2 class="contact">Formulario de contacto</h2>
        <label >Nombre</label>
        <input type="text" name="name"/>
        <label>E-mail</label>
        <input type="text" name="email"/>
        <label>Teléfono</label>
        <input type="text" name="phone"/>
        <input type="Suscribirse"/>
    </form>
</div>