.band {
    & > form {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        text-align: center;
        flex-direction: column;
        max-width: 350px;
    
        & > * {
            width: 300px;
            box-sizing: border-box;
            margin: 5px;
        }
    
        & > h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: #fffefe;
            letter-spacing: 2px;
        }
        & input {
            padding: 13px;
            border: none;
            font-size: 15px;
        }
        & > input[type="Suscribirse"] {
            background-color: #2e2e2e;
            color: white;
            &:hover {
                opacity: 0.4;
                cursor: pointer;
            }
        }
    
        @include if-desktop {
            flex-direction: row;
            max-width: auto;
            & > * {
                width: auto;
                margin: 0 5px;
            }
            & > h2 {
                font-size: 20px;
            }
            & > input {
                width: 300px;
            }
    
            & > input[type="Suscribirse"] {
                width: 100px;
            }
        }
    }
    
}
.carousel {
    margin-top: 30px;
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: black;

    & > img {
        position: absolute;
        visibility: hidden;
        width: 100%;
        min-width: 1200px;
        top: 0;
        right: 0;
        transition: transform 400ms ease-in-out;
    }

    & > .circles {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 10px;
        z-index: 2;

        & > span {
            margin: 10px;
            border: 2px solid white;
            border-radius: 50%;
            display: inline-block;
            width: 8px;
            height: 8px;
            cursor: pointer;

            &:hover, &.selected {
                background-color: white;
            }
        }
    }
}
